# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = battle2.wad
doom_map = map01

# Rewards

living_reward = 0
death_penalty = 0

# Rendering options
screen_resolution = RES_256X144
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false

# make episodes finish after 2100 actions (tics)
episode_timeout = 2100

# Available buttons
available_buttons =
    {
        MOVE_FORWARD
        MOVE_BACKWARD
        MOVE_RIGHT
        MOVE_LEFT
        ATTACK
        SPEED
        TURN_LEFT_RIGHT_DELTA
    }

# Game variables that will be in the state
available_game_variables = { POSITION_X POSITION_Y ANGLE SELECTED_WEAPON SELECTED_WEAPON_AMMO HEALTH USER2 }

mode = PLAYER
doom_skill = 2
